.contact-banner
{
    padding: 0 65px;
}

.contact-banner hr
{
    width: 100%;
    border: 1px solid rgba(100, 14, 35, 0.1);
    margin: 20px 0;
}

.contact-banner-icons
{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-banner-icon
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-banner-icon p
{
    font-size: 0.9rem;
    font-weight: 300;
}

.contact-banner-icon-top
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.contact-banner-icon-top p
{
    font-size: 1rem;
    font-weight: 800;
}